<a href="https://colab.research.google.com/github/Anurag1Chaudhary/oibsip_task1/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Iris.csv')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.drop('Id', axis=1, inplace=True)

In [ ]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
x = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)

In [ ]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
18             5.7           3.8            1.7           0.3
149            5.9           3.0            5.1           1.8
86             6.7           3.1            4.7           1.5
48             5.3           3.7            1.5           0.2
8              4.4           2.9            1.4           0.2
..             ...           ...            ...           ...
138            6.0           3.0            4.8           1.8
122            7.7           2.8            6.7           2.0
133            6.3           2.8            5.1           1.5
82             5.8           2.7            3.9           1.2
15             5.7           4.4            1.5           0.4

[120 rows x 4 columns]

In [ ]:
X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
33             5.5           4.2            1.4           0.2
98             5.1           2.5            3.0           1.1
17             5.1           3.5            1.4           0.3
128            6.4           2.8            5.6           2.1
106            4.9           2.5            4.5           1.7
40             5.0           3.5            1.3           0.3
3              4.6           3.1            1.5           0.2
45             4.8           3.0            1.4           0.3
52             6.9           3.1            4.9           1.5
93             5.0           2.3            3.3           1.0
70             5.9           3.2            4.8           1.8
9              4.9           3.1            1.5           0.1
109            7.2           3.6            6.1           2.5
110            6.5           3.2            5.1           2.0
115            6.4           3.2            5.3           2.3
61             5.9           3.0            4.2           1.5
148            6.2           3.4            5.4           2.3
142            5.8           2.7            5.1           1.9
36             5.5           3.5            1.3           0.2
20             5.4           3.4            1.7           0.2
21             5.1           3.7            1.5           0.4
11             4.8           3.4            1.6           0.2
27             5.2           3.5            1.5           0.2
62             6.0           2.2            4.0           1.0
119            6.0           2.2            5.0           1.5
1              4.9           3.0            1.4           0.2
127            6.1           3.0            4.9           1.8
130            7.4           2.8            6.1           1.9
28             5.2           3.4            1.4           0.2
108            6.7           2.5            5.8           1.8

In [ ]:
y_train

18         Iris-setosa
149     Iris-virginica
86     Iris-versicolor
48         Iris-setosa
8          Iris-setosa
            ...
138     Iris-virginica
122     Iris-virginica
133     Iris-virginica
82     Iris-versicolor
15         Iris-setosa
Name: Species, Length: 120, dtype: object

In [ ]:
# Training the model with Logistic Regression and checking the score/accuracy

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(X_train, y_train)

model.score(X_test, y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9

In [ ]:
# Training the model with K Nearest Neighbour Clssification and checking the score/accuracy

from sklearn.neighbors import KNeighborsClassifier

model_KNN = KNeighborsClassifier(n_neighbors=10)

model_KNN.fit(X_train, y_train)

model_KNN.score(X_test, y_test)

0.9666666666666667

In [ ]:
model.predict([[5.1, 3.8, 1.9, 0.4]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [ ]:
df.iloc[44]

SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.9
PetalWidthCm             0.4
Species          Iris-setosa
Name: 44, dtype: object